@import url('https://fonts.googleapis.com/css?family=Roboto');


/*-------------------------
	Simple reset
--------------------------*/

*{
	margin:0;
	padding:0;
}


/*-------------------------
	General Styles
--------------------------*/


html{
	background:url('../images/index/fond.jpg') no-repeat center fixed;
	-webkit-background-size: cover;
	background-size: cover;
	margin: 0;
	padding: 0;
}

body{
    padding: 25px 0 0;
	font:14px/1.3 'Segoe UI',Arial, sans-serif;
	font-size: 14px;
	background-color: transparent;
}

a, a:visited {
	text-decoration:none;
	outline:none;
	color:#E4E2E2;
}

a:hover{
	text-decoration:underline;
}

section, footer{
	display: block;
}


/*----------------------------
	Main Section
-----------------------------*/

div {
	font-family: 'Roboto', sans-serif;
	color: #fff;
}

#logos {
	margin: 10px;
	display: inline;
}

#logoHeig {
	display: inline-block;
	height: 20%;
	width: 20%;
}

#imgMedia {
	display: inline-block;
	height: 8%;
	width: 6%;
	float: right;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.containerPrinc {
	position: absolute;
	display: inline-block;
}

#imgKallax img {
	max-height: 100%;
	max-width: 100%;
	height: 30%;
	width: 30%;
}

.titre {
	font-family: 
}

.titre h1 {
	margin-bottom: 20px;
}

#note {
	font-size: 14px;
	margin: 0 auto;
	padding: 4px;
	float: inherit;
}

#description {
	margin-top: 0px;
}

#description h2 {
	margin-top: 5px;
}

#siteMediaLink {
	margin-top: 30px;
	font-weight: bold;
	font-size: 14px;
}

.clearfix {
  overflow: auto;
}

/*----------------------------
	Button
-----------------------------*/
.btnCyan,
.btnCyan :visited {
	background-color: #33f0dd;
	color: #fff;
}

.btnCyan :focus {
	background-color: #3A706B;
	color: #fff;
}

.btnWhite,
.btnWhite :visited {
	background-color: #fff;
	color: #33f0dd;
}

.boutonChoix {
	font-size: 20px;
	width: 200px;
	display: block;
	padding: 25px 0;
}


/*----------------------------
	Formulaire inscription
-----------------------------*/
.form-control, 
.form_col, 
.form-control::placeholder{
	color: #33f0dd;
}

.btnRadio{
	float: left;
}

.labelRadio {
	width: 50px;
}

.imgMale {
	width: 48%;
	height: auto;
	display: inline;
}

.imgFemale {
	width: 36%;
	height: auto;
	display: inline;
}

.center_div{
    margin: 0 auto;
    width:50%;
}

.error {
	color: red;
	float:left;
	font-size: 12px;
}

.titreH1Form {
	font-size: 20px;
}

/*----------------------------
	Menu Kallax
-----------------------------*/


/*----------------------------
	Training
-----------------------------*/
#boutonsChoix form {
	display: inline-block;
  	width: 45%;
	height: 40%;
	margin: 2%;
}

#boutonsChoix input {
	font-size: 20px;
	color: #000;
	width: 100%;
	padding: 25px 0;
}

/*----------------------------
	Business Quiz
-----------------------------*/
.wrapper {
    display: table;
    table-layout: fixed;
    width: 100%;
}

.dragColumn {
	display: inline-table;
	width: 50%;
}

.dragPeople {
	width: 100%;
	min-height: 50px;
  height: auto;
	background-color: rgba(255, 255, 255, 0.2);
}

.dragContainer div {
    margin: 10px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
    cursor: move;
    cursor: grab;
    cursor: -webkit-grab;
}

.dragHorizontalOrder {
	display: table-row;
	background-color: rgba(255, 255, 255, 0.2);
}

.dragHorizontalContainer {
	display: inline-block;
}

.clickedClass {
  background-color: orange !important;
}

.businessManQuizzMessage {
	display: inline-block;
	background-color: rgba(244, 226, 66, 0.2);
	width: 100%;
	margin: 5%;
	padding: 2%;
}


/*----------------------------
	Quizz Multimédia
-----------------------------*/

#introMultimedia p {
	font-size: 17px;
}

#introMultimedia h2 {
	font-size: 30px;
	text-align: center;
}

#vignettesVideo {
	margin: 30px;
}

#vignettesVideo img {
	width: 100%;
	height: 100%;
}

#vignettesVideo button {
	width: 150px;
	height: 120px;
	display: inline-block;
	color: black;
	font-size: 15px;
}

#vignettesVideo input {
	width: 150px;
	height: 120px;
	display: inline-block;
	color: black;
	font-size: 15px;
}

.boutonMulti {
	font-size: 18px;
	color: black;
	text-align: center;
	margin-top: 20px;
}

.boutonMulti a {
	color: black;
}

.boutonQuizzMultimedia {
	color: black;
	margin-top: 20px;
}

.contentMultimedia {
	text-align: center;
}

.titreQuestion {
	text-align: center;
}

.questionMultimedia {
	text-align: center;
	font-size: 18px;
	margin-top: 20px;
}

.questionMultimedia input[type="radio"] + label {
	margin-left: 10px;
} 

/*----------------------------
	The Footer
-----------------------------*/


footer{
	background-color: #111111;
	bottom: 0;
	box-shadow: 0 -1px 2px #111111;
	height: 45px;
	left: 0;
	position: fixed;
	width: 100%;
	z-index: 100000;
}

footer h2{
	color: #EEEEEE;
	font-size: 14px;
	font-weight: normal;
	left: 50%;
	margin-left: -400px;
	padding: 13px 0 0;
	position: absolute;
	width: 540px;
}

footer h2 i{
	font-style:normal;
	color:#888;
}

footer a.tzine,a.tzine:visited{
	color: #999999;
	font-size: 12px;
	left: 50%;
	margin: 16px 0 0 110px;
	position: absolute;
	text-decoration: none;
	top: 0;
}

footer a i{
	color:#ccc;
	font-style: normal;
}

footer a i b{
	color:#c92020;
	font-weight: normal;
}

/*----------------------------
	MediaQueries
-----------------------------*/

@media screen and (orientation: landscape) {

	#description {
		margin-top: 10px;
	}

	#siteMediaLink {
		margin-top: 10px;
	}

	#siteMediaLink a {
		font-size: 10px;
	}
}

/* Pour IPAD */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {

}

/* Pour Smartphones */
@media screen and (min-device-width: 375px) and (max-device-width: 667px){

	#logoHeig {
		width: 32%;
	}

	#imgMedia {
		width: 10%;
	}

	#contenu {
		margin-top: 150px;
	}

	.titre {
		margin-bottom: 25px;
	}

	.titre h1 {
		font-size: 22px;
	}

	#note {
		font-size: 14px;
	}

	#description h2 {
		font-size: 18px;
	}

	#siteMediaLink a {
		font-size: 14px;
	}
}
