<h3>Coding</h3>
<div ng-show="!coding.activityOver">
	<div>
	<p>Vous ne pourrez pas effectuer la mission de Coding sur l’application. Rendez-vous sur le poste d’entraînement pour développer vos connaissances en coding grâce à nos robots! Apprenez à prendre contrôle des machines pour les faire travailler à vos côtés!</p>
	<p>Une fois la mission terminée, revenez valider votre entraînement sur l’application en cliquant sur “Mission terminée”.</p>

	<button ng-click="codingCtrl.firstValidation()" ng-show="codingCtrl.answerMode">Mission terminée</button>

	<div ng-show="!codingCtrl.answerMode">
		<span>Avez-vous vraiment fait l'activité? ;)</span>
		<button ng-click="codingCtrl.secondValidation()" class="">Oui</button>
	</div>

	<div ng-show="!codingCtrl.answerMode">
		<span>Vous êtes bien sûr?</span>
		<button ng-click="codingCtrl.secondValidation()" class="">Je le jure sur mon Kallax!</button>
	</div>
</div>

<div ng-show="codingCtrl.activityOver">
	<p>Bravo ! Vous avez terminé l'entraînement! Un pas de plus en direction de l'Arbitrium.</p>
	<p>La mission a été validée et vous pouvez maintenant aller constater l'évolution de votre Kallax !</p>
	<a href="/#!/training">
		<button>Terminer la mission</button>
	</a>
</div>