<div class="text-center">
  <div id="titre"><h1>Inscription</h1></div>
</div>

<div id="formulaire">
    <a href="javascript:history.go(-1)" class="btn btn-primary"><span class="glyphicon glyphicon-chevron-left"></span>Retour</a>
    <br />
    <br />
    <form name="inscrForm" id="inscrForm" class="row">
        <p ng-if="InscriptionCtrl.error" class="error">{{ InscriptionCtrl.error }}</p>

        <input name="email" id="email" type="email" class="form-control" placeholder="Email *" required ng-model="InscriptionCtrl.userSchema.mail"/>
        <br />

        <span class="form_col" >Sexe * :</span>
        <label><input name="sex" type="radio" ng-model="InscriptionCtrl.userSchema.sex" value="male" required/>Homme</label>
        <label><input name="sex" type="radio" ng-model="InscriptionCtrl.userSchema.sex" value="female" required/>Femme</label>
        <br/>

        <input name="age" id="age" type="number" class="form-control" placeholder="Âge *" ng-model="InscriptionCtrl.userSchema.age" required/>
        <br/>

        <input name="pwd1" id="pwd1" type="password" class="form-control" placeholder="Mot de passe *" required/>
        <br/>

        <input name="pwd2" id="pwd2" type="password" class="form-control" placeholder="Mot de passe (confirmation) *" ng-model="InscriptionCtrl.userSchema.password" required/>
        <br />
        <div class="">
            <input class="btn btn-success" type="submit" value="Inscription" name="inscription" id="inscription" ng-disabled="inscrForm.$invalid"/> 
            <input class="btn btn-warning" type="reset" value="Réinitialiser le formulaire" />
        </div>
    </form>
</div>