<div class="text-center">
  <div id="hexagonFill">
    <a id="hexagonFillLink" ng-href="{{ hrefHexagonImg }}">
      <img class="ng-hide" ng-show="showBasic" src="../images/kallax/jauge.png"/>
      <img class="ng-hide" ng-show="showOne" src="../images/kallax/jauge_1.png"/>
      <img class="ng-hide" ng-show="showTwo" src="../images/kallax/jauge_2.png"/>
      <img class="ng-hide" ng-show="showThree" src="../images/kallax/jauge_3.png"/>
      <img class="ng-hide" ng-show="showFour" src="../images/kallax/jauge_4.png"/>
    </a>
  </div>
  <div id="hexagonWelcome">
    <h2>Bienvenue sur l'Hexagon !</h2>
    <p>Vous trouverez différents entraînements pour être prêt lors de l'épreuve finale: <b>L'Arbitrium</b>.</p>
    <p>Les entraînements et <b>L'Arbitrium</b> permettent de recevoir de super goodies et de participer à notre concours.</p>
  </div>
  <div id="boutonsKallax">
      <div class="boutonChoix">
        <a class="btn btnCyan" id="btnEntrainement" href="/#!/training">ENTRAINEMENT</a>
      </div>
      <div class="boutonChoix">
        <a class="btn btnWhite" id="btnArbitrium" onclick="return confirm('Es-tu sûr de vouloir passer à l\'épreuve finale ?')" href="/#!/arbitrium">ARBITRIUM</a>
      </div>
  </div>
</div>
