
<!-- JavaScript includes -->
<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script src="../scripts/jquery.countdown.js"></script>
<script src="../scripts/script.js"></script>

<div class="text-center">
  <div id="imgKallax"><img src="../images/index/logo_CompletBlanc.png"></div>
  <div id="titre"><h1>Sortie prochainement de notre jeu...</h1></div>

  <div id="countdown"></div>

  <p id="note"></p>

  <div id="description"><h2>Viens nous rencontrer au stand de l'eracom le 5 mai 2017!</h2></div>

  <a class="btn btn-primary" href="">Login</a>
  <a class="btn btn-primary" href="#!/inscription">Inscription</a>

  <div id="siteMediaLink"><a href="https://media.heig-vd.ch/" target="_blank">media.heig-vd.ch</a></div>
</div>

<!--<footer>
<h2><i>Tutorial:</i> A jQuery Countdown Timer</h2>
<a class="tzine" href="http://tutorialzine.com/2011/12/countdown-jquery/">Head on to <i>Tutorial<b>zine</b></i> to download this example</a>
</footer> -->
