<div class="text-center">
	<h2 class="titreBrasilia">Marketing & Communication</h3>
	<div ng-show="!marketingCtrl.quizzOver">
		<img src="" class="img-fluid"></img>
		<h3 id="question" class="titreBrasilia">{{marketingCtrl.question}}</h2>
		<img ng-src={{marketingCtrl.image}} class=""/>
		<div class="btnRadioMarketing center_div">
			<ul id="options">
				<li ng-repeat="option in marketingCtrl.options">
					<label>
						<input type="radio" name="answer" value="{{option}}">
						{{option}}
					</label>
				</li>
			</ul>
		</div>
		<!-- <button ng-click="marketingCtrl.checkAnswer()" ng-show="marketingCtrl.answerMode">Valider</button> -->
		<div class="validationFooter">
			<input type="submit" class="btn btnCyan btnMarketing" ng-click="marketingCtrl.checkAnswer()" ng-show="marketingCtrl.answerMode" value="Valider"/>


			<div ng-show="!marketingCtrl.answerMode" class="validerFooter">
				<input type="submit" class="next-question btn btnCyan btnMarketing" ng-click="marketingCtrl.nextQuestion()" value="Suivant"/>
				<!-- <button ng-click="marketingCtrl.nextQuestion()" class="next-question">Suivant</button> -->
				<br/><span ng-show="marketingCtrl.correctAns">C'est correct!</span>
				<span ng-show="!marketingCtrl.correctAns">Désolé, mauvaise réponse.</span>
			</div>

			<div>
				<p>Question {{marketingCtrl.questionNo}} sur 5</p>
			</div>
		</div>
	</div>

	<div ng-show="marketingCtrl.quizzOver">
		<p>Bravo ! Vous avez terminé l'entraînement! Un pas de plus en direction de l'Arbitrium.</p>
		<p>Vous avez répondu juste à {{marketingCtrl.score}} questions sur 5</p>
		<p>La mission a été validée et vous pouvez maintenant aller constater l'évolution de votre Kallax!</p>
		<a href="/#!/training">
			<button class="btn btnCyan" ng-click="marketingCtrl.patch()">Terminer la mission</button>
		</a>
	</div>
</div>
