<button>Salle d'entraînement</button>
<h2>Marketing & Communication</h2>
<div id="question1">
	<img src=""></img>
	<form>
	   <p id="enonce1"></p>
	       <input type="radio" name="answer" value="true" id="answer11" /> <label>answer1</label><br />
	       <input type="radio" name="answer" value="false" id="answer12" /> <label>answer2</label><br />
	       <input type="radio" name="answer" value="false" id="answer13" /> <label>answer3</label><br />
	</form>
</div>
<div id="question2">
	<img src=""></img>
	<form>
	   <p id="enonce2"></p>
	       <input type="radio" name="answer" value="false" id="answer21" /> <label>answer1</label><br />
	       <input type="radio" name="answer" value="true" id="answer22" /> <label>answer2</label><br />
	       <input type="radio" name="answer" value="false" id="answer23" /> <label>answer3</label><br />
	</form>
</div>
<div id="question3">
	<img src=""></img>
	<form>
	   <p id="enonce3"></p>
	       <input type="radio" name="answer" value="true" id="answer31" /> <label>answer1</label><br />
	       <input type="radio" name="answer" value="false" id="answer32" /> <label>answer2</label><br />
	       <input type="radio" name="answer" value="false" id="answer33" /> <label>answer3</label><br />
	</form>
</div>
<div id="question4">
	<img src=""></img>
	<form>
	   <p id="enonce4"></p>
	       <input type="radio" name="answer" value="false" id="answer41" /> <label>answer1</label><br />
	       <input type="radio" name="answer" value="false" id="answer42" /> <label>answer2</label><br />
	       <input type="radio" name="answer" value="true" id="answer43" /> <label>answer3</label><br />
	</form>
</div>
<div id="question5">
	<img src=""></img>
	<form>
	   <p id="enonce5"></p>
	       <input type="radio" name="answer" value="false" id="answer51" /> <label>answer1</label><br />
	       <input type="radio" name="answer" value="false" id="answer52" /> <label>answer2</label><br />
	       <input type="radio" name="answer" value="true" id="answer53" /> <label>answer3</label><br />
	</form>
</div>
<div id="question6">
	<img src=""></img>
	<form>
	   <p id="enonce6"></p>
	       <input type="radio" name="answer" value="false" id="answer61" /> <label>answer1</label><br />
	       <input type="radio" name="answer" value="true" id="answer62" /> <label>answer2</label><br />
	       <input type="radio" name="answer" value="false" id="answer63" /> <label>answer3</label><br />
	</form>
</div>
<button type="button" ng-click"quizzCtrl." class="">Terminer la mission</button>