<button>Salle d'entraînement</button>
<p id="username"></p>
<h2>Marketing & Communication</h2>
<div>
	<p>Attention aux pièges qui peuvent se mettre en travers de votre passage. Nous vous conseillons de garder les yeux ouverts afin d’identifier aux mieux vos ennemis et leurs stratégies.</p>
	<p>Répondez à des questions parmis les choix proposées. Des images liées à la stratégie de marques apparaîtront et à vous de faire vos preuves avec les connaissances déjà en votre possession.</p>
	<p>Choisissez le sujet du quizz et à vous de jouer!</p>
	<div id="interests">
  	<a href="/#!/marketing/quizz/sport">
  		<button name="sport" value=""><img src=""/>SPORT</button>
  	</a>
  	<a href="/#!/marketing/quizz/food">
  		<button name="food" value="" ng-click="marketingCtrl.start()"><img src=""/>FOOD</button>
  	</a>
  	<a href="/#!/marketing/quizz/divertissement">
  		<button name="divertissement" value="" ng-click="marketingCtrl.start()"><img src=""/>DIVERTISSEMENT</button>
  	</a>
  	<a href="/#!/marketing/quizz/business">
  		<button name="business" value="" ng-click="marketingCtrl.start()"><img src=""/>BUSINESS</button>
  	</a>
  	<a href="/#!/marketing/quizz/technologie">
  		<button name="technologie" value="" ng-click="marketingCtrl.start()"><img src=""/>TECHNOLOGIE</button>
  	</a>
  	<a href="/#!/marketing/quizz/mode">
  		<button name="mode" value="" ng-click="marketingCtrl.start()"><img src=""/>MODE</button>
  	</a>
  </div>
</div>