<div class="text-center">
  <p id="username"></p>
  <h2 class="titreBrasilia">Marketing & Communication</h2>
  <div>
  	<p>Attention aux pièges qui peuvent se trouver sur votre passage. Nous vous conseillons de garder les yeux ouverts afin d’identifier au mieux vos ennemis et leurs stratégies.</p>
  	<p>Choisissez le sujet du quizz et à vous de jouer!</p>
  	<div id="interests">
      <div id="grp1Marketing">
      	<a class="btn btnCyan btn-group" href="/#!/marketing/quizz/sport">Sport</a>
      	<a class="btn btnCyan btn-group" href="/#!/marketing/quizz/food">Food</a>
      	<a class="btn btnCyan btn-group" href="/#!/marketing/quizz/divertissement">Divertissement</a>
      </div>
      <div id="grp2Marketing">
      	<a class="btn btnCyan btn-group" href="/#!/marketing/quizz/business">Business</a>
      	<a class="btn btnCyan btn-group" href="/#!/marketing/quizz/technologie">Technologie</a>
      	<a class="btn btnCyan btn-group" href="/#!/marketing/quizz/mode">Mode</a>
      </div>
    </div>
  </div>
</div>