<p id="username"></p>
<h2>Marketing & Communication</h2>
<div>
	<p>Attention aux pièges qui peuvent se trouver sur votre passage. Nous vous conseillons de garder les yeux ouverts afin d’identifier au mieux vos ennemis et leurs stratégies.</p>
	<p>Choisissez le sujet du quizz et à vous de jouer!</p>
	<div id="interests">
  	<a class="btn btn-primary btn-group" href="/#!/marketing/quizz/sport">SPORT</a>
  	<a class="btn btn-primary btn-group" href="/#!/marketing/quizz/food">FOOD</a>
  	<a class="btn btn-primary btn-group" href="/#!/marketing/quizz/divertissement">DIVERTISSEMENT</a>
  	<a class="btn btn-primary btn-group" href="/#!/marketing/quizz/business">BUSINESS</a>
  	<a class="btn btn-primary btn-group" href="/#!/marketing/quizz/technologie">TECHNOLOGIE</a>
  	<a class="btn btn-primary btn-group" href="/#!/marketing/quizz/mode">MODE</a>
  </div>
</div>