<a href="/#!/quizzMultimedia" class="btn btnWhite btnRetour"><span class="glyphicon glyphicon-menu-left"></span></a>
<div class="text-center">
	<div class="titreQuestion">
		<h2>Question Multimedia</h2>
		<p>{{quizzMultiCtrl.intitule}}</p>
	</div>
	<div class="questionMultimedia center_div">
		<form class="formulaire">
			<label><input type="radio" name="answer" value="{{quizzMultiCtrl.reponse1}}"/>{{quizzMultiCtrl.reponse1}}</label><br />
			<label><input type="radio" name="answer" value="{{quizzMultiCtrl.reponse2}}" />{{quizzMultiCtrl.reponse2}}</label><br />
			<label><input type="radio" name="answer" value="{{quizzMultiCtrl.reponse3}}" />{{quizzMultiCtrl.reponse3}}</label><br />
		</form>
	</div>
	<div class="boutonMulti" ng-show="showBtn">
		<button class="btn btnCyan btnMarketing" type="button" disabled="disabled" ng-click="valideReponse()" class="boutonQuizzMultimedia">Vérifier</button>
	</div>

	<div class="reponseMultimedia ng-hide" ng-show="showGoodMessage" >
		<p>Bien joué! Tu as trouvé la bonne réponse et tu peux maintenant continuer ton entraînement ou passer à l'épreuve finale!</p>
		<a href="/#!/training"><button class="btn btnCyan" type="button" disabled="disabled" ng-click="terminerMission()">Terminer la mission</button></a>
	</div>

	<div class="reponseMultimedia ng-hide" ng-show="showBadMessage">
		<p>Ah dommage! Tu n'as pas trouvé la bonne réponse... Si tu veux réessayer, tu peux visionner une autre vidéo ou alors continuer ton entraînement et passer à l'épreuve finale!</p>
		<a><button class="btn btnCyan" type="button" disabled="disabled" ng-click="terminerMission()">Terminer la mission</button></a>
	</div>
</div>