<div class="contentMultimedia">
	<div class="titreQuestion">
		<h2>Question Multimedia</h2>
	</div>
	<div class="questionMultimedia">
		<form>
			<p>{{quizzMultiCtrl.intitule}}</p>
			<input type="radio" name="answer" value="{{quizzMultiCtrl.reponse1}}"/><label>{{quizzMultiCtrl.reponse1}}</label><br />
			<input type="radio" name="answer" value="{{quizzMultiCtrl.reponse2}}" /><label>{{quizzMultiCtrl.reponse2}}</label><br />
			<input type="radio" name="answer" value="{{quizzMultiCtrl.reponse3}}" /><label>{{quizzMultiCtrl.reponse3}}</label><br />
		</form>
	</div>
	<div class="boutonMulti">
		<a href="/#!/quizzMultimedia"><button>Retour</button></a>
		<button type="button" disabled="disabled" ng-click="valideReponse()" class="boutonQuizzMultimedia">Vérifier</button>
	</div>

	<div class="reponseMultimedia ng-hide" ng-show="showGoodMessage" >
		<p>Bien joué! Tu as trouvé la bonne réponse et tu peux maintenant continuer ton entraînement ou passer à l'épreuve finale!</p>
		<a href="/#!/training"><button>Terminer la mission</button></a>
	</div>

	<div class="reponseMultimedia ng-hide" ng-show="showBadMessage">
		<p>Ah dommage! Tu n'as pas trouvé la bonne réponse... Si tu veux réessayer, tu peux visionner une autre vidéo ou alors continuer ton entraînement et passer à l'épreuve finale!</p>
		<a href="/#!/training"><button>Terminer la mission</button></a>
	</div>
</div>