<!DOCTYPE html>
<html>
<head>
  <title>Media Engineer Projects</title>
  <meta charset="UTF-8">
</head>
<body>
  <div id="introMultimedia">
  	<h2>Multimédia</h2>
	<p>Tu as visionné la vidéo d'un projet réalisé par les superhéros Ingénieurs des médias? Ce n'est que la première étape!</p>
	<p>Cliques sur l'image qui correspond à la vidéo que tu as visionné et réponds à la question afin de passer cette épreuve..</p>
  </div>
  <div id="vignettesVideo">
  	<a href="/multimediaQ1">
  		<button name="video1" value="video1_selectioned"><img src="../images/multimedia/Bebe.png"/></button>
  	</a>
  	<a href="/multimediaQ2">
  		<button name="video2" value="video2_selectioned"><img src="../images/multimedia/Bikify.png"/></button>
  	</a>
  	<a href="/multimediaQ3">
  		<button name="video3" value="video3_selectioned"><img src="../images/multimedia/dodgeball.png"/></button>
  	</a>
  	<a href="/multimediaQ4">
  		<button name="video4" value="video4_selectioned"><img src="../images/multimedia/Health_Connect.png"/></button>
  	</a>
  	<a href="/multimediaQ5">
  		<button name="video5" value="video5_selectioned"><img src="../images/multimedia/Issun_Boshi.png"/></button>
  	</a>
  	<a href="/multimediaQ6">
  		<button name="video6" value="video6_selectioned"><img src="../images/multimedia/Qwertz.png"/></button>
  	</a>
  	<a href="/multimediaQ7">
  		<button name="video7" value="video7_selectioned"><img src="../images/multimedia/TedX.png"/></button>
  	</a>
  	<a href="/arbitrium">
  		<button name="noChoice" value="noChoice_selectioned"><img src="../images/multimedia/nope.jpg"/></button>
  	</a>
  </div>
</body>
</html>
