<div ng-controller='FormController2'>
  <form novalidate class="businessManagementQuizzForm">
    <h2>2. Mettez les tâches dans l'ordre chronologique</h2>
    <div class='wrapper' ng-controller="BusinessCtrl">
      <div class='dragContainer dragHorizontalOrder' id='orderContainer'>
        <div id="order1" class='dragHorizontalContainer'>Planification du projet</div>
        <div id="order2" class='dragHorizontalContainer'>Analyse financière</div>
        <div id="order3" class='dragHorizontalContainer'>Étude de marché</div>
        <div id="order4" class='dragHorizontalContainer'>Réalisation de maquettes design</div>
        <div id="order5" class='dragHorizontalContainer'>Développement web</div>
      </div>
    </div>
    <div class="businessManQuizzMessage ng-hide" ng-show="showMessage"></div>
    <input type="submit" class="btn btn-primary" ng-click="check()" value="Valider" />
  </form>
</div>
