<div id="introMultimedia" class="text-center">
	<h2>Multimédia</h2>
	<p>Vous avez visionné la vidéo d'un projet réalisé par les superhéros Ingénieurs des médias? Ce n'est que la première étape!</p>
	<p>Cliquez sur l'image qui correspond à la vidéo visionnée et répondez à la question afin de passer cette épreuve!</p>
	<p>Peu importe la vidéo, vous trouverez la réponse dans les deux premières minutes de la vidéo.</p>
</div>
<div id="vignettesVideo">
	<a href="/#!/multimedia/Q1">
		<button name="video1" value="video1_selectioned"><img src="../images/multimedia/Bebe.png"/></button>
	</a>
	<a href="/#!/multimedia/Q2">
		<button name="video2" value="video2_selectioned"><img src="../images/multimedia/Bikify.png"/></button>
	</a>
	<a href="/#!/multimedia/Q3">
		<button name="video3" value="video3_selectioned"><img src="../images/multimedia/dodgeball.png"/></button>
	</a>
	<a href="/#!/multimedia/Q4">
		<button name="video4" value="video4_selectioned"><img src="../images/multimedia/Issun_Boshi.png"/></button>
	</a>
	<a href="/#!/multimedia/Q5">
		<button name="video5" value="video5_selectioned"><img src="../images/multimedia/Qwertz.png"/></button>
	</a>
	<a href="/#!/multimedia/Q6">
		<button name="video6" value="video6_selectioned"><img src="../images/multimedia/TedX.png"/></button>
	</a>
</div>
