<div id="boutonsChoix">
  <form action="http://google.com">
    <input type="submit" onclick="return confirm('Blablbalbal \nVoulez-vous suivre cet entraînement ?')" value="Programmation" />
  </form>
  <form action="http://google.com">
    <input type="submit" onclick="return confirm('Blablbalbal \nVoulez-vous suivre cet entraînement ?')" value="Marketing et communication" />
  </form>
  <form action="http://google.com">
    <input type="submit" onclick="return confirm('Blablbalbal \nVoulez-vous suivre cet entraînement ?')" value="Multimédia" />
  </form>
  <form action="http://google.com">
    <input type="submit" onclick="return confirm('Blablbalbal \nVoulez-vous suivre cet entraînement ?')" value="Business & Management" />
  </form>
</div>

<!-- EVENT HANDLING
<a href="delete.php?id=22" class="confirmation">Link</a>
...
<script type="text/javascript">
    var elems = document.getElementsByClassName('confirmation');
    var confirmIt = function (e) {
        if (!confirm('Are you sure?')) e.preventDefault();
    };
    for (var i = 0, l = elems.length; i < l; i++) {
        elems[i].addEventListener('click', confirmIt, false);
    }
</script>
-->
