<a href='/#!/kallax' class="btn btnWhite btnRetour"><span class="glyphicon glyphicon-menu-left"></span></a>
<div class="text-center">
  <div id="hexagonFill">
    <a id="hexagonFillLink" ng-href="{{ hrefHexagonImg }}">
      <img class="ng-hide imgJauge" ng-show="showBasic" src="../images/kallax/jauge.png"/>
      <img class="ng-hide imgJauge" ng-show="showOne" src="../images/kallax/jauge_1.png"/>
      <img class="ng-hide imgJauge" ng-show="showTwo" src="../images/kallax/jauge_2.png"/>
      <img class="ng-hide imgJauge" ng-show="showThree" src="../images/kallax/jauge_3.png"/>
      <img class="ng-hide imgJauge" ng-show="showFour" src="../images/kallax/jauge_4.png"/>
    </a>
  </div>
  <div id="boutonsTraining">
    <div class="gr2BtnTraining">
      <a class="btn btnCyan btnMenu" href="/#!/coding">Coding</a>
      <a class="btn btnCyan btnMenu btnPlsLignes" href="/#!/marketing">Marketing & Communication</a>
    </div>
    <div class="gr2BtnTraining">
      <a class="btn btnCyan btnMenu" href="/#!/quizzMultimedia">Multimédia</a>
      <a class="btn btnCyan btnMenu btnPlsLignes" href="/#!/quizzBusiness1">Business & Management</a>
    </div>
  </div>
</div>
